TaskManagerUI/Connected Services/TMService/ITMService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/ITMService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TaskManagerWCF_Lib.Struct" />
  <xs:import schemaLocation="http://localhost:8301/ITMService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TaskManagerWCF_Lib.Struct" minOccurs="0" name="user" nillable="true" type="q1:UserStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="ConnectResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="guid" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TaskManagerWCF_Lib.Struct" minOccurs="0" name="GetTasksResult" nillable="true" type="q4:ArrayOfTaskStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdataTasks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TaskManagerWCF_Lib.Struct" minOccurs="0" name="task" nillable="true" type="q5:TaskStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdataTasksResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyUpdataTasksCallback">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TaskManagerWCF_Lib.Struct" minOccurs="0" name="task" nillable="true" type="q6:TaskStruct" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>