TaskManagerUI/Connected Services/TMService/ITMService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TaskManagerWCF_Lib.Struct" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaskManagerWCF_Lib.Struct" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8301/ITMService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8301/ITMService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="UserStruct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Host" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tasks" nillable="true" type="tns:ArrayOfTaskStruct" />
      <xs:element minOccurs="0" name="UserGuid" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserStruct" nillable="true" type="tns:UserStruct" />
  <xs:complexType name="ArrayOfTaskStruct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TaskStruct" nillable="true" type="tns:TaskStruct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTaskStruct" nillable="true" type="tns:ArrayOfTaskStruct" />
  <xs:complexType name="TaskStruct">
    <xs:sequence>
      <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CommentCard" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GuidTask" type="ser:guid" />
      <xs:element minOccurs="0" name="IsChecked" type="xs:boolean" />
      <xs:element minOccurs="0" name="State" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskStruct" nillable="true" type="tns:TaskStruct" />
</xs:schema>