TaskManagerUI/Connected Services/TMService/TMService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TMService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITMService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8301/ITMService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8301/ITMService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8301/ITMService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TaskManagerWCF_Lib.Struct" />
      <xsd:import schemaLocation="http://localhost:8301/ITMService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITMService_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="ITMService_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="ITMService_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="ITMService_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="ITMService_UpdataTasks_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdataTasks" />
  </wsdl:message>
  <wsdl:message name="ITMService_UpdataTasks_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdataTasksResponse" />
  </wsdl:message>
  <wsdl:message name="ITMService_NotifyUpdataTasksCallback_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyUpdataTasksCallback" />
  </wsdl:message>
  <wsdl:portType name="ITMService">
    <wsdl:operation name="Connect">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMService/Connect" message="tns:ITMService_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMService/ConnectResponse" message="tns:ITMService_Connect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMService/Disconnect" message="tns:ITMService_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMService/DisconnectResponse" message="tns:ITMService_Disconnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdataTasks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITMService/UpdataTasks" message="tns:ITMService_UpdataTasks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITMService/UpdataTasksResponse" message="tns:ITMService_UpdataTasks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyUpdataTasksCallback">
      <wsdl:output wsaw:Action="http://tempuri.org/ITMService/NotifyUpdataTasksCallback" message="tns:ITMService_NotifyUpdataTasksCallback_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITMService" type="tns:ITMService">
    <wsp:PolicyReference URI="#NetTcpBinding_ITMService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://tempuri.org/ITMService/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/ITMService/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdataTasks">
      <soap12:operation soapAction="http://tempuri.org/ITMService/UpdataTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyUpdataTasksCallback">
      <soap12:operation soapAction="http://tempuri.org/ITMService/NotifyUpdataTasksCallback" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TMService">
    <wsdl:port name="NetTcpBinding_ITMService" binding="tns:NetTcpBinding_ITMService">
      <soap12:address location="net.tcp://localhost:8302/ITMService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8302/ITMService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-51HGQH2\Dev</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>